<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-in-app-play-update" version="1.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>InAppPlayUpdate</name>
    <description>In App Play Update Plugin</description>
    <license>Apache 2.0</license>
    <keywords>android,in-app,update</keywords>

    <engines>
      <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module name="InAppPlayUpdate" src="www/InAppPlayUpdate.js">
        <clobbers target="cordova.plugins.InAppPlayUpdate" />
    </js-module>

    <platform name="android">
        <framework src="com.google.android.play:core:1.7.2"/>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="InAppPlayUpdate">
                <param name="android-package" value="ru.rlisystems.cordova.plugins.inappplayupdate.InAppPlayUpdate" />
            </feature>
        </config-file>

        <source-file src="src/android/InAppPlayUpdate.java" target-dir="src/ru/rlisystems/cordova/plugins/inappplayupdate" />
    </platform>
</plugin>